<div class="card" [formGroup]="formGroup">
  <div class="col-span-full">
    <label for="origin-text" class="block text-sm font-medium leading-6 text-gray-900">{{type == 'encrypt' ? 'Texto a ser criptografado' : 'Texto a ser descriptografado'}}</label>
    <div class="mt-2">
      <textarea id="origin-text" name="origin-text" rows="3" formControlName="originText" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
    </div>
  </div>
  <br>
  <div class="col-span-full">
    <label for="result-text" class="block text-sm font-medium leading-6 text-gray-900">Resultado</label>
    <div class="mt-2">
      <textarea id="result-text" name="result-text" rows="3" formControlName="resultText" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
    </div>
  </div>
  <br>
  <div class="col-span-full">
    <label for="keys" class="block text-sm font-medium leading-6 text-gray-900">Chaves</label>
    <div class="mt-2 flex items-center gap-x-3">
      <span>{{type == 'encrypt' ? 'Publica' : 'Privada'}}</span>
      <button (click)="selectFile()" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">{{keyFileBase64 != undefined ? 'Carregado' : 'Enviar'}}</button>
      <input type="file" #fileInput hidden (change)="handleFileSelected($event)">
    </div>
  </div>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="submit" (click)="processText()" [disabled]="keyFileBase64 == undefined" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{type == 'encrypt' ? 'Encriptar' : 'Descriptar'}}</button>
  </div>
</div>